body {
	box-sizing: border-box;
	background: #eee;
	margin: 0;
	padding: 0;
}
.results{
	width: 100%;
	margin: 0 3%;
	padding-top: 40px;
}
.search-form{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 45px 0;
}

.search-input{
	border: none;
	border-radius: 8px 0 0 8px;
	font: 400 16px/16px Arial, sans-serif;
	height: 30px;
	padding: 10px;
	margin: 0;
	outline: none;
	min-width: 200px;
	width: 50%;
}
.btn-search{
	background: #4285f4;
	border: none;
	border-radius: 0 8px 8px 0;
	color: #fff;
	font: 400 16px/16px Arial, sans-serif;
	height: 50px;
	margin: 0;
	width: 150px;
}
.btn-search:hover{
	background: #2F7BF7;
}
.result-wrap{
	padding: 0 40px;
	width: 100%;
}
.item{
	padding: 10px 0;
}
.title{
	font: 700 16px/16px Arial, sans-serif;
	text-decoration: none;
	color: #999;
}
.contentBox{
	color: #545454;
}